@import '../../../variables';

.skill {

    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 8px;
    text-align: center;
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: $secondary-color;
}
h3{
    color: $gray-dark;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.icon {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    //filter: grayscale(1) drop-shadow(10px 5px 5px gray) ;
}
@media screen and (max-width: 1200px) {
    .skill{
        width: 120px;
    }
}